body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

button {
  background-color: #008000;
  color: white;
  margin: 5px;
  padding: 3px 3px;
  border: none;
  border-radius: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

header {
  background-color: #008000;
  color: white;
  padding: 1px 1px;
  text-align: center;
}

main {
  padding: 5px 5px;
  text-align: center;
}

main p {
  font-size: 1rem;
  margin-bottom: 20px;
  color: #666;
}

form {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

a {
  font-size: 0.9rem;
  color: #008000;
  text-decoration: none;
}

dl {
  margin: 0;
}

dt {
  text-align: left;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

dd {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.required {
  color: red;
  font-weight: bold;
  margin-left: 5px;
}

.login-button {
  width: 100%;
  justify-content: center;
  background-color: #008000;
  color: white;
  padding: 6px 0;
  font-size: 0.8rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 0px;
}

.login-button:hover {
  background-color: #006400;
}

.info-links {
  margin-top: 20px;
  text-align: left;
}

.info-links p {
  margin: 10px 0;
  font-size: 0.9rem;
}

.info-links a {
  color: #008000;
  text-decoration: none;
}

.info-links a:hover {
  text-decoration: underline;
}

#map {
  height: 60vh;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.menu {
  display: flex;
  flex-direction: column;
  /* gap: 5px; */
  align-items: center;
}

.menu a {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 6px 0;
  background-color: white;
  border: 2px solid #008000;
  color: #008000;
  border-radius: 30px;
  text-align: center;
  font-size: 0.8rem;
  text-decoration: none;
  transition: all 0.3s ease;
  margin-top: 5px;
  text-align: center;
}

a.register-button:hover {
  background-color: #008000;
  color: white;
}

.comment-link,
.save-comment {
  display: inline-block; /* ボタンとして扱う */
  padding: 3px 3px; /* ボタンの内側の余白 */
  font-size: 0.7rem; /* 文字サイズ */
  color: white; /* テキスト色 */
  background-color: #28a745; /* 背景色（青系） */
  border: none; /* 枠線を削除 */
  text-decoration: none; /* テキスト下線を削除 */
  cursor: pointer; /* マウスカーソルをポインタにする */
  text-align: center; /* テキストを中央揃え */
}

.comment-link:hover,
.save-comment:hover {
  background-color: #008000; /* ホバー時の色を濃くする */
}

footer {
  margin-top: 30px;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
}

#search-results {
  font-size: 0.8rem;
}



@media (max-width: 800px) {
  h1 {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1rem;
  }

  h3 {
    font-size: 0.9rem;
  }

  h4 {
    font-size: 0.8rem;
  }

  main p {
    font-size: 0.8rem;
  }

  a {
    font-size: 0.8rem;
    padding: px 16px;
  }
}
